/*.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}*/

/*Header*/
span {
  color: red;
}

.burnstudio {
  font-size: 50px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 278px;
  top: 38.5px;
  z-index: 3;
}

.portfolio {
  font-size: 33.333px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 757px;
  top: 48.201px;
  z-index: 4;
}

.divider {
  background-color: rgb(42, 8, 8);
  position: absolute;
  left: -38px;
  top: 138px;
  width: 1525px;
  height: 3px;
  z-index: 5;
}

/*Welcome*/
.designer {
  font-size: 37.5px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 328px;
  top: 232.959px;
  z-index: 9;
}

.content {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 396.465px;
  top: 318.603px;
  width: 719px;
  height: 55px;
  z-index: 10;
}

/*Button*/
.hire {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(243, 233, 233);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 716px;
  top: 482px;
  z-index: 13;
}

.hire:hover {
  color: red;
}

.radius {
  border-radius: 10px;
  background-color: rgb(85, 85, 85);
  position: absolute;
  left: 692px;
  top: 500px;
  width: 140px;
  height: 44px;
  z-index: 12;
}

.welcomeDivider {
  background-color: rgb(42, 8, 8);
  position: absolute;
  left: -38px;
  top: 574px;
  width: 1525px;
  height: 3px;
  z-index: 8;
}

/*Latest Project*/
.project {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 281px;
  top: 621.15px;
  z-index: 35;
}

.boxOne {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 282px;
  top: 695px;
  width: 300px;
  height: 200px;
  z-index: 21;
}

.boxOneContent {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 355.766px;
  top: 918.126px;
  z-index: 20;
}

.freelanceOne {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(180, 151, 151);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 323.234px;
  top: 953.001px;
  z-index: 19;
}

.boxBorderOne {
  border-width: 1px;
  border-color: rgb(183, 183, 183);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 282px;
  top: 783px;
  width: 298px;
  height: 230px;
  z-index: 18;
}

.boxTwo {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 612px;
  top: 695px;
  width: 300px;
  height: 200px;
  z-index: 27;
}

.boxTwoContent {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 685.766px;
  top: 918.126px;
  z-index: 26;
}

.freelanceTwo {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(180, 151, 151);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 653.234px;
  top: 953.001px;
  z-index: 25;
}

.boxBorderTwo {
  border-width: 1px;
  border-color: rgb(183, 183, 183);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 612px;
  top: 783px;
  width: 298px;
  height: 230px;
  z-index: 24;
}

.boxThree {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 942px;
  top: 695px;
  width: 300px;
  height: 200px;
  z-index: 33;
}

.boxThreeContent {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1015.766px;
  top: 918.126px;
  z-index: 32;
}

.freelanceThree {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(180, 151, 151);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 983.234px;
  top: 953.001px;
  z-index: 31;
}

.boxBorderThree {
  border-width: 1px;
  border-color: rgb(183, 183, 183);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 942px;
  top: 783px;
  width: 298px;
  height: 230px;
  z-index: 30;
}

/*About Me*/
.about {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 280.844px;
  top: 1138px;
  z-index: 42;
}

.aboutContent {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(4, 68, 68);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 280px;
  top: 1209.603px;
  width: 440px;
  height: 265px;
  z-index: 41;
}

.social {
  position: absolute;
  left: 280px;
  top: 1500px;
}

/*What's New*/
.new {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 801.844px;
  top: 1135px;
  z-index: 54;
}

.thumbnailOne {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 802px;
  top: 1208px;
  width: 150px;
  height: 100px;
  z-index: 51;
}

.thumbnailOneContent {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(4, 68, 68);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 981px;
  top: 1206.603px;
  width: 242px;
  height: 25px;
  z-index: 53;
}

.date {
  font-size: 10.417px;
  font-family: "Avenir";
  color: rgb(129, 105, 105);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 981.937px;
  top: 1245.812px;
  z-index: 52;
}

.aboutDivider {
  background-color: rgb(18, 52, 86);
  position: absolute;
  left: 802px;
  top: 1341px;
  width: 440px;
  height: 1px;
  z-index: 50;
}


.thumbnailTwo {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 802px;
  top: 1372px;
  width: 150px;
  height: 100px;
  z-index: 57;
}

.thumbnailTwoContent {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(4, 68, 68);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 981px;
  top: 1369.603px;
  width: 242px;
  height: 25px;
  z-index: 59;
}

.dateTwo {
  font-size: 10.417px;
  font-family: "Avenir";
  color: rgb(129, 105, 105);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 981.937px;
  top: 1408.812px;
  z-index: 58;
}

.background {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: -38px;
  top: 1094px;
  width: 1604px;
  height: 512px;
  z-index: 39;
}

/*Copyright*/
.copyright {
  font-size: 21px;
  font-family: "Avenir";
  color: rgb(129, 105, 105);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 281px;
  top: 1651.97px;
  z-index: 64;
}

.portfolioFooter {
  font-size: 25px;
  font-family: "Avenir";
  color: rgb(13, 12, 12);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 821px;
  top: 1647.222px;
  z-index: 63;
}
